{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div id="registerForm" class="col-xs-12 col-sm-8 col-lg-8">
        <header class="funny-header"><h4 style="font-weight:bold;"> Perfil </h4></header>
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>

        <a style="font-weight:bold; float:left;margin:1%;" href="{{path('fos_user_profile_edit')}}" class="botonBorrar btn label-success" data-toggle="modal">Modificar Perfil</a>
        <!--Link open dialog -->
        <a style="font-weight:bold; float:right;margin:1%;" href="#myModal" class="botonBorrar btn label-danger" data-toggle="modal">Borrar Usuario</a>
        <!--Confirm delete user dialog -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">¿Deseas darte de baja en FunnyWars?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Si te dás de baja en FunnyWars no podrás beneficiarte de los descuentos de usuario y se borrarán todos tus datos de nuestra base de datos.</br></br>
                           Serás redireccionado a HOME </p>
                        <p class="text-warning"><small>Confirma la acción</small></p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn label-success" data-dismiss="modal">Cancelar</a>
                         <a href="{{path('fos_user_delete')}}" class="botonBorrar btn label-danger" style="font-weight: bold; font-size: 16px;">Borrar Usuario</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End dialog -->


    </div>
</div>
