<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Funny Wars">
        <meta name="author" content="Adrián Reynés">
        <title>Funny Wars</title>
        {% block stylesheets %} {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- JQuery API -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{asset('bundles/web/js/jquery-ui.min.js')}}"></script>

        <script src="{{asset('bundles/web/js/bootstrap.js')}}"></script>
        <script src="{{asset('bundles/web/js/miJS.js')}}"></script>
        <script src="{{asset('bundles/web/js/isotope-docs.js')}}"></script>
        <!-- Bootstrap Core CSS -->
        <link href="{{asset('bundles/web/css/bootstrap.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{asset('bundles/web/css/FunnyStyles.css')}}" rel="stylesheet">
        
        <link href="{{asset('bundles/web/css/jquery-ui.min.css')}}" rel="stylesheet">
    </head>
    <body>
        <!-- Template NAV -->
        {% include 'WebBundle:Templates:Nav/nav_bar.html.twig' %}
        <!--Sección tagline y búsqueda -->
        <div class="row" style="width: 95%;">
            <div class="col-lg-12">
                <h1 class="tagline"> Profesionales del Airsoft </h1><br>
                <div class="">
                    <form name="search_form" method="POST" action="{{path('web_search_results')}}" style="float:right">
                        <input name="stringToSearch" type="text" placeholder="Busca productos o categorías"/ value="{%if stringToSearch is defined %}{{stringToSearch}}{%endif%}" />
                        <input type="submit" name="submit_search" class="btn btn-primary" value="Buscar"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" >
            {% block body %}{% endblock %}
        </div>
        {% include 'WebBundle:Templates:Footer/footer.html.twig' %}
        {% block javascripts %} {% endblock %}
        <script src="{{asset('bundles/web/js/prueba.js')}}"></script>
        <script src="{{asset('bundles/web/js/cookie.js')}}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                if (!$.cookie("msgcookie")) {
                    $("body").prepend("<div class='msgcookie'><p><a href='#' class='close'></a>Esta web utiliza 'cookies' propias y de terceros para ofrecerle una mejor experiencia y servicio y poder registrar el proceso de compra. Al navegar o utilizar nuestros servicios el usuario acepta el uso que hacemos de las 'cookies'. <br> <a href='{{path('cookies')}}' style='font-weight:bold;' target='_blank'>M&aacute;s informaci&oacute;n sobre la pol&iacute;tica de cookies</a></p></div>");
                    
                    $("body").on("click", ".close", function(e) {
                        e.preventDefault();
                        $.cookie('msgcookie', 'aceptado');
                        $(".msgcookie").fadeOut();
                    });
                }
            });
            $('.container').css('min-height', (63*screen.height)/100)
        </script>

    </body>
</html>