{% extends 'baseFunny.html.twig' %}
{% block body %}
<!-- ROW de NOVEDADES-->
<div class="row">
    {% if (products is defined and products is not empty) %}
    <!-- @if($datos['primerDestacado'] != null) -->
    <div class="col-xs-12 col-sm-12 col-lg-12 ">
        <header class=""><p> PRODUCTOS DESTACADOS</p></header>
        <div id="myCarouselDestacados" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators indicators">
                <li data-target="#myCarouselDestacados" data-slide-to="0" class="active"></li>
                <li data-target="#myCarouselDestacados" data-slide-to="1"></li>
                <li data-target="#myCarouselDestacados" data-slide-to="2"></li>
                <li data-target="#myCarouselDestacados" data-slide-to="3"></li>
                <li data-target="#myCarouselDestacados" data-slide-to="4"></li>
                <li data-target="#myCarouselDestacados" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner " role="listbox">

                <!-- ITEM 1 carousel-->
                <div class="item active">
                    <div class="col-xs-6 col-sm-4 col-lg-4 vOffset3 nombreDestacados">
                        <img class="img-responsive img-center" src="{{asset('bundles/web/img/estrellaOferta.png')}}">
                        <p>{{products[0].name}}</p>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-4 vOffset1">
                         {% if products[0].ImgRoute is not null %}
                            <img class="img-responsive img-center" src="/{{products[0].getWebPath}}" title="{{products[0].name}}" alt="{{products[0].name}}">
                        {% else %}
                            <img class="img-responsive img-center" src="{{asset('bundles/web/img/default_notFound.png') }}" title="{{product.name}}" alt="{{product.name}}">
                        {% endif %}
                    </div>
                    <div class="hidden-xs col-sm-4 col-lg-4  font-weight:bold; vOffset3">
                        <p>{{products[0].description}}</p>
                    </div>
                    <a href="{{ path('product_see', {'product_slug': products[0].slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                </div>
                <!-- ITEM 2 carousel-->
                <!-- @foreach($datos['novedades'] as $novedad) -->
                {% for product in products %}
                    {% if (product.highlight and not loop.first) %}
                        <div class="item">
                            <div class="col-xs-6 col-sm-4 col-lg-4 vOffset3 nombreDestacados">
                                <img class="img-circle img-responsive img-center" src="{{asset('bundles/web/img/estrellaOferta.png')}}">
                                <p>{{product.name}} </p>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-4 vOffset1">
                                {% if product.ImgRoute is null %}
                                <img class="img-responsive img-center" src="{{asset('bundles/web/img/') ~'default_notFound.png' }}" title="{{product.name}}" alt="{{product.name}}">
                                {% else %}
                                <img class="img-responsive img-center" src="/{{product.getWebPath}}" title="{{product.name}}" alt="{{product.name}}">
                                {% endif %}
                            </div>
                            <div class="hidden-xs col-sm-4 col-lg-4  font-weight:bold; vOffset3">
                                <p>{{product.description}}</p>
                            </div>
                            <a href="{{ path('product_see', {'product_slug': product.slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- @endforeach -->
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control carousel-controls-color caroulsel-smaller-controls" href="#myCarouselDestacados" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left " aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control carousel-controls-color caroulsel-smaller-controls" href="#myCarouselDestacados" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right " aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="">
        </div>
    </div>
    <!-- @endif -->
    {% endif %}
</div>
<!-- END ROW de NOVEDADES-->
<hr>
<!-- ROW de Descatados Ofertas Taller -->
<div class="row">

    <!-- DIV NOVEDADES -->
    <div class="col-sm-4">
        <header class=""> NOVEDADES </header>
        <div class="">
            <div id="myCarouselNovedades" class="carousel slide" data-ride="carousel" data-interval="">
                <!-- Indicators -->
                <ol class="carousel-indicators NoIndicators">
                    <li data-target="#myCarouselNovedades" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarouselNovedades" data-slide-to="1"></li>
                    <li data-target="#myCarouselNovedades" data-slide-to="2"></li>
                    <li data-target="#myCarouselNovedades" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner " role="listbox">
                    {% set counter = 0 %}
                    {% for product in products %}
                        {% if (product.novelty and counter != 0)  %}
                            <div class="item">
                                <img class="img-responsive img-center" src="
                                {% if product.ImgRoute is not null %}/{{product.getWebPath}}{% else %}{{asset('bundles/web/img/') ~'default_notFound.png' }} {%endif%}
                                " title="{{product.name}}" alt="{{product.name}}">
                                <a href="{{ path('product_see', {'product_slug': product.slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                                <div class="">
                                    <p>{{product.name}}</p>
                                </div>
                            </div>
                        {% elseif (product.novelty and counter == 0) %}
                            {% set counter =  1 %}

                            <div class="item active">
                                <img class="img-responsive img-center" src="
                                {% if product.ImgRoute is not null %}/{{product.getWebPath}}{% else %}{{asset('bundles/web/img/') ~'default_notFound.png' }} {%endif%}
                                " title="{{product.name}}" alt="{{product.name}}">
                                <a href="{{ path('product_see', {'product_slug': product.slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                                <div class="">
                                    <p>{{product.name}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control carousel-controls-color" href="#myCarouselNovedades" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-controls-color" href="#myCarouselNovedades" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- END DIV NOVEDADES -->
    <div class="col-sm-4">
    {%if is_granted('ROLE_USER') %}
        <header class=""> Ofertas </header>
        <div class="">
            <div id="myCarouselOfertas" class="carousel slide" data-ride="carousel" data-interval="">
                <!-- Indicators -->
                <ol class="carousel-indicators NoIndicators">
                    <li data-target="#myCarouselOfertas" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarouselOfertas" data-slide-to="1"></li>
                    <li data-target="#myCarouselOfertas" data-slide-to="2"></li>
                    <li data-target="#myCarouselOfertas" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner " role="listbox">
                    {% set counter = 0 %}
                    {% for product in products %}
                        {% if (product.discount !=0 and counter != 0)  %}
                            <div class="item">
                                <img class="img-responsive img-center" src="
                                {% if product.ImgRoute is not null %}/{{product.getWebPath}}{% else %}{{asset('bundles/web/img/') ~'default_notFound.png' }} {%endif%}
                                " title="{{product.name}}" alt="{{product.name}}">
                                <a href="{{ path('product_see', {'product_slug': product.slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                                <div class="">
                                    <p>{{product.name}}</p>
                                </div>
                            </div>
                        {% elseif (product.novelty and counter == 0) %}
                            {% set counter =  1 %}

                            <div class="item active">
                                <img class=" img-responsive img-center" src="
                                {% if product.ImgRoute is not null %}/{{product.getWebPath}}{% else %}{{asset('bundles/web/img/') ~'default_notFound.png' }} {%endif%}
                                " title="{{product.name}}" alt="{{product.name}}">
                                <a href="{{ path('product_see', {'product_slug': product.slug }) }}" class="btn btn-primary " role="button">Ver Producto</a>
                                <div class="">
                                    <p> {{product.name}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control carousel-controls-color" href="#myCarouselOfertas" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control carousel-controls-color" href="#myCarouselOfertas" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    {% endif %}
    </div>
    <div class="col-sm-4">
        <header class=""> TALLER </header>
        <div class="">
            <a href="#"><img class="img-responsive img-center" src="{{asset('bundles/web/img/banco.png')}}" title="Reparaciones"></a>
            <div class="">
                <p></p>
            </div>
        </div>
    </div>

</div>
<!-- EDN ROW de Descatados Ofertas Taller -->
{% endblock body %}
