{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block head_stylesheets %}
    <!-- Custom CSS -->
    <link href="{{asset('bundles/web/css/FunnyStyles.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/web/css/bootstrap.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('bundles/web/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/font-awesome.min.css') }}">
{% endblock head_stylesheets %}
{% block body %}
{% set allCategories = globalCategories.getAllCategories %}
{% for category in allCategories %}
    {% if category.parent is null %}
        <input type="hidden" class="hidden_CategoryParent" value="{{category.name}}">
    {% else %}
        <input type="hidden" class="hidden_CategoryChildren" value="{{category.name}}">
    {% endif %}
{% endfor %}
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="wrapper">
        {% block wrapper %}
        <nav class="navbar navbar-inverse" role="navigation" style="height:52px!important;z-index:1000" >
            {% block header %}
            <div i class="container-fluid" style="background-color:#222">
                <div class="navbar-header">
                    
                    {% block navbar_header %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <div id="header-logo" class="navbar-brand">
                        {% block header_logo %}
                        {% set _site_name_length = easyadmin_config('site_name')|length <= 10 ? 'short'
                            : easyadmin_config('site_name')|length <= 12 ? 'medium' : 'long;'
                        %}
                        <a href="{{ path('web_homepage') }}" class="navbar-brand" title="HOME">FunnyWars</a>
                        {% endblock header_logo %}
                    </div>
                    {% endblock navbar_header %}
                </div>

                <div class="collapse navbar-collapse" id="header-nav">
                    {% block header_menu %}
                            {% block navigation_items %}
                                {% for item in easyadmin_config('entities') %}
                        <ul id="header-menu" class="nav navbar-nav" style="z-index:1000;background-color: #222;position:relative" >
                                    <li class="{{ item.name|lower == app.request.get('entity')|lower ? 'active' : '' }}">
                                        <a href="{{ path('admin', { entity: item.name, action: 'list', view: 'list' }) }}">
                                            {{- item.label|trans -}}
                                        </a>
                                    </li>
                        </ul>
                                {% endfor %}
                            {% endblock %}
                    {% endblock header_menu %}
                    <ul class="nav navbar-nav navbar-right" style="z-index:1000;  background-color: #222;position:relative" >
                        <a href="{{ path('fos_user_security_logout') }}"  class="btn btn-primary" style="float:right;margin-top:4%;"role="button"> Cerrar Sesión </a>
                    </ul>
                </div>

                <div id="header-footer" class="navbar-right">
                    {% block header_footer %}
                        {% if app.user %}
                            <div id="header-security" style="margin-top:-20px;margin-right:20px;color:white;">
                               
                            </div>
                        {% endif %}
                    {% endblock header_footer %}
                </div>
            </div>
            {% endblock header %}
        </nav>

        <div id="content" class="col-lg-10 col-lg-offset-2">
            {% block content %}
                <div class="row">
                    <div id="content-header" class="col-sm-12">
                        {% block content_header %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                                </div>
                            </div>
                        {% endblock content_header %}
                    </div>

                    <div id="main" class="col-sm-9">
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}{% endblock %}
                    </div>
                </div>
            {% endblock content %}
        </div>
        {% endblock wrapper %}
    </div>

    {% block body_javascript %}
        <script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/easyadmin/javascript/admin.js') }}"></script>
        <script src="{{ asset('bundles/easyadmin/javascript/jquery-flexmenu.min.js') }}"></script>
    {% endblock body_javascript %}

    {% for js_asset in easyadmin_config('design.assets.js') %}
        <script src="{{ asset(js_asset) }}"></script>
    {% endfor %}

    </body>
    {% endblock body %}